
-

.bg
    .kv
        .kv__inner
            header.kv__siteHeader
                .kv__siteHeader__inner
                    .kv__siteHeader__nav
                        .kv__siteHeader__logo
                            a(href="#")
                                img(src=`./_assets/images/header/header_logo.png`, alt="ロゴ" class="kv__siteHeader__logoImg")
                        .kv__siteHeader__contact__wrapper
                            .kv__siteHeader__contact__phone 03-6907-1958
                            .kv__siteHeader__contact__discussion 無料でご相談承ります

            .kv__ttl__box
                .kv__ttl__01
                    .kv__ttl__wrapper
                        span.kv__ttl あなたの会社<span class="kv__ttl__color">の</span><br class="pc">
                        span.kv__ttl.kv__ttl02 DX担当<span class="kv__ttl__color">に。</span>
                        .kv__subTtl__wrapper
                            span.kv__subTtl <mark>システム開発のことなら、</mark><br class="sm">
                            span.kv__subTtl.kv__subTtl02 <mark>全てお任せください。</mark>
                        p.kv__description あなたの会社のシステム開発案件を弊社におま<br class="sm">かせください。
                            br
                            | お客様からのシステム開発以来時の不安を弊社<br class="sm">が解消いたします。
                            br
                            | 二人三脚で企画・開発・運用まで全て弊社がワ<br class="sm">ンストップで承ります。
                            br
                            | ご要望に応じてお客様とのミーティングにも同<br class="sm">席させていただきますので、
                            br.pc
                            | まずはお気軽にご<br class="sm">相談ください。